<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Ready Assist</span>
</nav>
<div class="container">
 <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  
    <div class="form-group">
      <label for="inputEmail4"></label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Username" formControlName="username">
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPassword4">First Name</label>
      <input type="text" class="form-control" id="inputPassword4" formControlName="first_name">
    </div>
 
  <div class="form-group col-md-6">
    <label for="inputAddress">Last Name</label>
    <input type="text" class="form-control" id="inputAddress" formControlName="last_name">
  </div>
</div>
<button type="submit" class="btn btn-success">Add</button>
 </form>
<h3 id="dup"></h3>
<form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
  
  <div class="form-group">
    <label for="inputEmail4"></label>
    <input type="text" class="form-control" id="inputEmail4" placeholder="id" formControlName="id">
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputPassword4">First Name</label>
    <input type="text" class="form-control" id="inputPassword4" formControlName="first_name">
  </div>

<div class="form-group col-md-6">
  <label for="inputAddress">Last Name</label>
  <input type="text" class="form-control" id="inputAddress" formControlName="last_name">
</div>
</div>
<button type="submit" class="btn btn-primary">Update</button>
</form>
 <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <div class="form-group">
    <label for="inputEmail4"></label>
    <input type="text" class="form-control" id="inputEmail4" placeholder="id" formControlName="id">
    
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
 </form>
 <button type="button" class="btn btn-warning" (click)="restoreUsers()">Restore Users</button>
<br>
<br>
 <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element"> 
        <button type="button" class="btn btn-danger" (click)='deleteUser(element.id)'>Delete User</button>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>


